.projectlist{
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	align-items:start;
	grid-template-rows:masonry;/*only works in the newest of browsers*/
}
.project{
	background-color:var(--cl_d);
	color:var(--cl_h);
	padding:0.25em;
	margin:0.25em;
	border-radius:0.25em;
	overflow:clip;
	--cl_h:var(--acc_h);
	--cl:var(--acc);
	--cl_d:var(--acc_d);
}
.project.dead{
	--cl_h:var(--gry_h);
	--cl:var(--gry);
	--cl_d:var(--gry_d);
}
.project>.projectheader{
	display:grid;
	grid-template-columns:0fr 0fr;
	justify-content:space-between;
	margin:-0.25em -0.25em 0.25em -0.25em;
}
.project>.projectheader>*{
	display:flex;
	flex-direction:row;
	align-items:center;
	justify-items:start;
	margin:0;
	padding:0.25em 0.5em;
	background-color:var(--cl);
	color:var(--cl_d);
	white-space:nowrap;
}
.project>.projectheader>h3{
	border-bottom-right-radius:0.25em;
	justify-self:stretch;
}
.project>.projectheader>.plinks{
	padding:0 0.25em 0.25em 0.25em;
	border-bottom-right-radius:0.25em;
	margin-right:0.25em;
	justify-self:start;
	height:1.5em;
}
.project>.projectheader>.plinks>a{
	line-height:0;
	width:1.5em;
	border-radius:0.125em;
	overflow:clip;
}
.project>.projectheader>.plinks>a+a{
	margin-left:0.25em;
}
.project>.projectheader>.pstatus{
	border-bottom-left-radius:0.25em;
	margin-left:0.25em;
	justify-self:end;
}
.project>.projectheader>.pdate{
	border-bottom-left-radius:0.25em;
	justify-self:stretch;
	justify-content:center;
}
.project>p{
	margin:0.33em 0.33em 0.25em 0.33em;
	text-align:justify;
	text-rendering:optimizelegibility;
}
.project>p>a{color:var(--acc_h)}
.project>p>a:hover{color:var(--acc_hh)}