@keyframes load-in{
	0%{width:0%}
	100%{width:var(--content-width)}
}
#overlay{
	animation-duration:0.33s;/*less time because no skewing*/
}
body{
	padding-bottom:2em;
}
/* buttons */
#loadmore{
	display:flex;
	justify-content:center;
}
/* track list */
#tracks{
	display:grid;
	grid-template-columns:0fr 3fr 0fr 1fr 0fr;
	grid-auto-flow:dense;
	gap:1px 0;
	margin-top:0.5em;
}
#tracks>a{
	display:contents;
	color:var(--acc);
}
#tracks>a>:first-child{
	grid-column:2;
}
#tracks>a>:nth-child(2){
	grid-column:3;
	justify-content:end;
}
#tracks>a>:nth-child(3){
	grid-column:4;
}
#tracks>a>:nth-child(4){
	grid-column:5;
	border-radius:0 0.25em 0.25em 0;
	justify-content:right;
}
#tracks>a>:nth-child(5){
	grid-column:1;
	border-radius:0.25em 0 0 0.25em;
}
#tracks>a>span{
	white-space:nowrap;
	padding:0 0.5em;
	height:2em;
}
#tracks>a>span{
	display:flex;
	align-items:center;
}
#tracks>a>div{
	height:2em;/*same height with and without the player*/
}
#trackfieldset{
	border-left:none;
}
/*header row*/
#tracks_header>*{
	background-color:var(--acc);
	color:var(--acc_dd);
}
#tracks_header>:last-child{
	border-radius:0.25em 0 0 0.25em;
}
/*row states*/
#tracks>a:not(#tracks_header)>span{
	cursor:pointer;
}
#tracks>a:not(#tracks_header):hover>span{
	background-color:var(--acc_d);
	color:var(--acc_h);
}
#tracks>a:hover+.play{
	border-radius:0.25em 0 0 0.25em;
	background-color:var(--acc_d);
}
/* filter buttons */
input[type='checkbox']{display:none}
input[type='checkbox']+label{cursor:pointer}
input[type='checkbox']+label.hebi>:first-child{
	transition: linear box-shadow 0.2s;
	box-shadow:	inset 0 0 0 0.5em				var(--acc),
				inset 0 0 0 calc(0.5em + 1px)	var(--acc_d);
}
input[type='checkbox']:checked+label.hebi>:first-child{
	box-shadow:	inset 0 0 0 0.5em				var(--acc),
				inset 0 0 0 calc(0.5em + 1px)	var(--acc_d),
				inset 0 0 0 calc(0.5em + 2px)	var(--acc),
				inset 0 0 0 1em	var(--acc_d);
}
input[type='number']{
	appearance:textfield;
	border:none;
	padding:0;
	text-align:center;
	font-size:inherit;
	font-family:inherit;
}
input[type=number]::-webkit-inner-spin-button {
  display:none;/*okay. chrome. WHY THE FUCK do you STILL insert the FUCKING spinner when i SPECIFICALLY set the input appearance to TEXT FIELD?!?!?*/
}
input[type='number']:focus{
	outline:none
}