/* navigation & song title bar */
#play_nav{
	display:flex;
	width:100%;
	padding-top:0;
	flex-direction:row;
	justify-content:space-between;
	align-items:start;
}
#play_nav>div{
	display:flex;
	flex-direction:column;
	align-items:center;
}
#play_nav>div:first-child{
	align-items:start;
}
#play_nav>div:last-child{
	align-items:end;
}
#play_nav>div>h2{
	background-color:var(--acc_d);
	padding:0.25em 0.5em;
	border-radius:0.25em;
}
/* container with the rest of the content, split up in three sections */
#play_content{
	display:flex;
	flex-direction:row-reverse;
	justify-content:end;
	align-items:start;
}
#play_content>fieldset{
	margin-right:1px;
	margin-top:0;
	align-self:stretch;
}
/* info grid */
#play_info{
	display:grid;
	grid-template-columns:auto auto;
	border-radius:0 0.25em 0.25em 0.25em;
	overflow:clip;
	max-width:25%;/*only on horizontal screens*/
	white-space:nowrap;
}
#play_info>:is(span,div){
	padding:0.25em 0.5em;
	background-color:var(--acc_d);
	color:var(--acc_h);
}
#play_info>span:nth-child(2n+1){
	text-align:right;
	background-color:var(--acc);
	color:var(--acc_dd);
	padding-left:0.75em;
}
#play_info>span:nth-child(2n){
	border-left:solid 1px var(--acc_dd);
}
#play_info>span:first-child{
	padding-top:0.33em;
	border-top:groove 2px var(--acc);
}
#play_info>span:nth-of-type(2){
	padding-top:0.33em;
}
#play_info>span:nth-last-of-type(2){
	padding-bottom:0.33em;
}
#play_info>span:last-of-type{
	padding-bottom:0.33em;
}
#play_info>div{/*comment*/
	border-top:solid 1px var(--acc_dd);
	grid-column:1/3;
	padding:0.5em 0.75em;
	text-align:justify;
}
/* column with links to external services which host the song */
#play_links{
	display:flex;
	flex-direction:column;
	align-items:start;
	width:50%;
}
#play_links>.btn{
	margin-right:0.25em;
}
/* column with files and masterplayer */
#play_files{
	width:80%;
	display:flex;
	flex-direction:column;
	align-items:start;
}
#tracks{
	display:grid;
	grid-gap:0.25em 0;
	grid-template-columns:0fr 0fr 0fr 1fr;
}
#masterplayer{
	grid-column:1/5;
	border:none;
}
#tracks>.play.btn{
	border-radius:0.25em 0 0 0.25em;
	grid-column:1;
}
#tracks>.dl.btn{
	border-radius:0;
	grid-column:2;
}
#tracks>span{
	display:flex;
	align-items:center;
	padding:0 0.5em 0 0.25em;
	background-color:var(--acc_d);
	color:var(--acc_h);
	height:2em;
	border-radius:0 0.25em 0.25em 0;
	grid-column:3;
}
/* fixes for mobile mostly */
@media (orientation: portrait) {
	#play_content{
		flex-direction:row;
		flex-wrap:wrap;
	}
	#play_content>fieldset{
		margin-right:0;
		margin-bottom:1px;
		box-sizing:border-box;
	}
	#play_info{
		max-width:unset;
		border-radius:0.25em;
		margin-bottom:0.5em;
		margin-right:0.25em;
	}
	#play_files{
		flex-grow:1;
		width:auto;
	}
	#play_links{
		display:inline;
		width:100%;
	}
}